@use 'element-plus/theme-chalk/src/dark/var.scss';

section {
    text-align: center;
    margin: auto;
}

html.dark{
    --el-color-primary: #fffe52;
    --el-bg-color-page: #6e45fd;
    background-color: #373441;
    --el-border-color-darker: #2d2d42;
    --el-border-color-dark: #3a3a53;
    --el-border-color: #6a6a70;
    --el-border-color-light: #6e6e7a;
    --el-border-color-lighter: #81818f;
    --el-color-info: #dbd6d6;
    // --lt-color-gray-200: scale(#373441, $lightness: 20%);
    // --lt-color-gray-300: scale(#373441, $lightness: 30%);
    // --lt-color-gray-400: scale(#373441, $lightness: 40%);
}